In [1]:
import numpy as np
import pandas as pd

In [8]:
hybrid = pd.read_csv('hybrid.csv')
#hybrid.iloc[:,0]
hybrid.head()

,Unnamed: 0,id,campaign_id,coupon_id,customer_id,redemption_status,recency,history,used_discount,used_bogo,is_referral,channel,offer,conversion
0,0,1,13,27,1053,1,10,142.44,1,0,0,Phone,Buy One Get One,0
1,1,2,13,116,48,1,6,329.08,1,1,1,Web,No Offer,0
2,2,6,9,635,205,1,7,180.65,0,1,1,Web,Buy One Get One,0
3,3,7,13,644,1050,1,9,675.83,1,0,1,Web,Discount,0
4,4,9,8,1017,1489,1,2,45.34,1,0,0,Web,Buy One Get One,0

In [10]:
hybrid = hybrid.drop(['Unnamed: 0'], axis=1)

In [13]:
hybrid[hybrid['redemption_status'] == hybrid['conversion']]

,id,campaign_id,coupon_id,customer_id,redemption_status,recency,history,used_discount,used_bogo,is_referral,channel,offer,conversion
5,11,11,795,793,1,6,134.83,0,1,0,Phone,Buy One Get One,1
10,20,9,575,108,1,7,548.91,0,1,1,Phone,Buy One Get One,1
13,23,13,517,1067,1,2,101.64,0,1,0,Web,Discount,1
15,25,13,796,248,1,3,58.13,1,0,1,Web,No Offer,1
22,33,12,109,553,1,2,118.40,1,0,0,Web,Discount,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63995,105100,8,559,34,0,10,105.54,1,0,0,Web,Discount,0
63996,105102,30,918,369,0,5,38.91,0,1,1,Phone,Discount,0
63997,105103,26,502,233,0,6,29.99,1,0,1,Phone,Discount,0
63998,105104,8,432,770,0,1,552.94,1,0,1,Multichannel,Buy One Get One,0
63999,105105,29,787,669,0,1,472.82,0,1,0,Web,Discount,0

In [27]:
hybrid[(hybrid['used_bogo']==1) & (hybrid['offer']=='Buy One Get One') & (hybrid['conversion'] == 1)]

,id,campaign_id,coupon_id,customer_id,redemption_status,recency,history,used_discount,used_bogo,is_referral,channel,offer,conversion
5,11,11,795,793,1,6,134.83,0,1,0,Phone,Buy One Get One,1
10,20,9,575,108,1,7,548.91,0,1,1,Phone,Buy One Get One,1
87,141,8,658,638,1,6,165.77,0,1,0,Web,Buy One Get One,1
142,228,29,538,634,1,11,131.76,0,1,1,Web,Buy One Get One,1
155,255,12,819,1026,1,3,57.33,0,1,0,Web,Buy One Get One,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63894,104934,10,15,1582,0,8,194.46,0,1,1,Phone,Buy One Get One,1
63896,104936,8,6,652,0,1,391.46,0,1,1,Phone,Buy One Get One,1
63904,104951,10,1043,226,0,1,29.99,0,1,0,Web,Buy One Get One,1
63951,105033,8,1084,1410,0,10,50.94,0,1,0,Web,Buy One Get One,1
63989,105093,30,360,400,0,10,304.30,1,1,0,Web,Buy One Get One,1

In [17]:
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
plt.plot()