In [2]:
import pandas as pd
import numpy as np

In [6]:
#coupon redemption verilerinin yüklenmesi
cr_data = pd.read_csv('coupon_redemption/train.csv')
print(cr_data.head(5))
print(cr_data.shape)

id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0
(78369, 5)

In [71]:
# marketing promotion verilerinin yüklenmesi
mp_data = pd.read_csv('marketing_promotion/data.csv')
print(mp_data.head(5))
print(mp_data.shape)
print(mp_data.offer.unique())

recency  history  used_discount  used_bogo   zip_code  is_referral channel  \
0       10   142.44              1          0  Surburban            0   Phone
1        6   329.08              1          1      Rural            1     Web
2        7   180.65              0          1  Surburban            1     Web
3        9   675.83              1          0      Rural            1     Web
4        2    45.34              1          0      Urban            0     Web

             offer  conversion
0  Buy One Get One           0
1         No Offer           0
2  Buy One Get One           0
3         Discount           0
4  Buy One Get One           0
(64000, 9)
['Buy One Get One' 'No Offer' 'Discount']

In [64]:
cr_campaign = pd.read_csv('coupon_redemption/campaign_data.csv')
cr_campaign.head()
# yüklediğimiz verilerin copylerini aldık
cr_campaign_c = cr_campaign.copy() # kampanya hakkında bilgileri içeriyor
mp_data_c = mp_data.copy()
cr_data_c = cr_data.copy()

In [65]:
cr_campaign_c.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [66]:
cr_data_c.head()
cr_campaign_c.shape

(28, 4)

In [67]:
cr_campaign_c['campaign_type'] = cr_campaign_c['campaign_type'].replace(['X'], 'Buy One Get One')

In [68]:
cr_campaign_c['campaign_type'] = cr_campaign_c['campaign_type'].replace(['Y'], 'Discount')
# cr_campaign_c.tail()

In [74]:
mp_data_c = mp_data_c.drop(['zip_code'], axis=1)

In [75]:
mp_data_c.head()

,recency,history,used_discount,used_bogo,is_referral,channel,offer,conversion
0,10,142.44,1,0,0,Phone,Buy One Get One,0
1,6,329.08,1,1,1,Web,No Offer,0
2,7,180.65,0,1,1,Web,Buy One Get One,0
3,9,675.83,1,0,1,Web,Discount,0
4,2,45.34,1,0,0,Web,Buy One Get One,0