In [1]:
import pandas as pd
import numpy as np

In [2]:
#coupon redemption verilerinin yüklenmesi
cr_data = pd.read_csv('coupon_redemption/train.csv')
print(cr_data.head(5))
print(cr_data.shape)

id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0
(78369, 5)

In [3]:
# marketing promotion verilerinin yüklenmesi
mp_data = pd.read_csv('marketing_promotion/data.csv')
print(mp_data.head(5))
print(mp_data.shape)
print(mp_data.offer.unique())

recency  history  used_discount  used_bogo   zip_code  is_referral channel  \
0       10   142.44              1          0  Surburban            0   Phone
1        6   329.08              1          1      Rural            1     Web
2        7   180.65              0          1  Surburban            1     Web
3        9   675.83              1          0      Rural            1     Web
4        2    45.34              1          0      Urban            0     Web

             offer  conversion
0  Buy One Get One           0
1         No Offer           0
2  Buy One Get One           0
3         Discount           0
4  Buy One Get One           0
(64000, 9)
['Buy One Get One' 'No Offer' 'Discount']

In [4]:
cr_campaign = pd.read_csv('coupon_redemption/campaign_data.csv')
cr_campaign.head()
# yüklediğimiz verilerin copylerini aldık
cr_campaign_c = cr_campaign.copy() # kampanya hakkında bilgileri içeriyor
mp_data_c = mp_data.copy()
cr_data_c = cr_data.copy()

In [5]:
cr_campaign_c.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [6]:
cr_data_c.head()
cr_campaign_c.shape

(28, 4)

In [7]:
cr_campaign_c['campaign_type'] = cr_campaign_c['campaign_type'].replace(['X'], 'Buy One Get One')

In [8]:
cr_campaign_c['campaign_type'] = cr_campaign_c['campaign_type'].replace(['Y'], 'Discount')
cr_campaign_c.head()

   campaign_id campaign_type start_date  end_date
0           24      Discount   21/10/13  20/12/13
1           25      Discount   21/10/13  22/11/13
2           20      Discount   07/09/13  16/11/13
3           23      Discount   08/10/13  15/11/13
4           21      Discount   16/09/13  18/10/13

In [9]:
mp_data_c = mp_data_c.drop(['zip_code'], axis=1)

In [10]:
#mp_data_c.head()
print(mp_data_c[mp_data_c['conversion']==1].shape[0])
print(cr_data_c[cr_data_c['redemption_status']==1].shape[0])

9394
729

In [11]:
cr_data_c = cr_data_c[:64000]

In [12]:
cr_data_c.shape

(64000, 5)

In [13]:
cr_data_c.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [14]:
"""hybrid = pd.concat([cr_data_c, mp_data_c], axis=1)
#hybrid.iloc[60000:60005,:]
hybrid.head(10)"""

'hybrid = pd.concat([cr_data_c, mp_data_c], axis=1)\n#hybrid.iloc[60000:60005,:]\nhybrid.head(10)'

In [15]:
# her iki veri setinde de satın alımları eşitlemiş oldum
count = 0
for i in range(0,cr_data_c.shape[0]):
    if cr_data_c.iloc[i,4] != 1:
        if count != 8794:
            cr_data_c.iloc[i,4] = 1
            count +=1

In [16]:
print(cr_data_c[cr_data_c['redemption_status']==1].shape[0])

9394

In [18]:
hybrid = pd.concat([cr_data_c, mp_data_c], axis=1)

In [19]:
hybrid.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,recency,history,used_discount,used_bogo,is_referral,channel,offer,conversion
0,1,13,27,1053,1,10,142.44,1,0,0,Phone,Buy One Get One,0
1,2,13,116,48,1,6,329.08,1,1,1,Web,No Offer,0
2,6,9,635,205,1,7,180.65,0,1,1,Web,Buy One Get One,0
3,7,13,644,1050,1,9,675.83,1,0,1,Web,Discount,0
4,9,8,1017,1489,1,2,45.34,1,0,0,Web,Buy One Get One,0

In [20]:
hybrid.to_csv('hybrid.csv')