In [ ]:
"""Bu veri setinde çok fazla features olmamısyla beraber fbu feture'lar şunlardır:
InvoiceNo: Fatura numarası. Her işleme yani faturaya ait eşsiz numara. Eğer bu kod C ile başlıyorsa işlemin iptal edildiğini ifade eder.
StockCode: Ürün kodu. Her bir ürün için eşsiz numara.
Description: Ürün ismi.
Quantity: Ürün adedi. Faturalardaki ürünlerden kaçar tane satıldığını ifade etmektedir. '-' ile başlarsa iade edildiğine işaret eder
InvoiceDate: Fatura tarihi ve zamanı.
UnitPrice: Ürün fiyatı.(Sterlin cinsinden)
CustomerID: Eşsiz müşteri numarası.
Country: Ülke ismi. Müşterinin yaşadığı ülke.
"""

In [ ]:
"""Bir müşteri segmentasyonu yapabilmemiz için bu veriyi iyi incelememiz gerekmektedir"""

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None); pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [8]:
df_2010_2011 = pd.read_excel('./online_retail_2.xlsx', sheet_name="Year 2010-2011")

In [9]:
df = df_2010_2011.copy()
#Hangi üründen kaç tane var?
df["Description"].value_counts().head()

WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
Name: Description, dtype: int64

In [10]:
#Eşsiz ürün sayısı kaçtır?
df["Description"].nunique()

4223

In [11]:
#En çok sipariş edilen ürün hangisidir?
df.groupby("Description").agg({"Quantity":"sum"}).sort_values("Quantity", ascending = False).head()

                                   Quantity
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039

In [12]:
#Toplam kaç fatura kesilmiştir?
df["Invoice"].nunique()

25900

In [13]:
#Fatura başına ortalama kaç para kazanılmıştır?
df["TotalPrice"] = df["Quantity"]*df["Price"]

In [14]:
df.groupby("Invoice").agg({"TotalPrice":"sum"}).head()
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,3,17850,United Kingdom,15
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3,17850,United Kingdom,20
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,3,17850,United Kingdom,22
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3,17850,United Kingdom,20
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3,17850,United Kingdom,20

In [15]:
#En pahalı ürünler hangileridir?
df.sort_values("Price", ascending = False).head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
222681,C556445,M,Manual,-1,2011-06-10 15:31:00,38970,15098,United Kingdom,-38970
524602,C580605,AMAZONFEE,AMAZON FEE,-1,2011-12-05 11:36:00,17836,nan,United Kingdom,-17836
43702,C540117,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:55:00,16888,nan,United Kingdom,-16888
43703,C540118,AMAZONFEE,AMAZON FEE,-1,2011-01-05 09:57:00,16454,nan,United Kingdom,-16454
16356,C537651,AMAZONFEE,AMAZON FEE,-1,2010-12-07 15:49:00,13541,nan,United Kingdom,-13541

In [16]:
#Hangi ülkeden kaç sipariş geldi?
df["Country"].value_counts()

United Kingdom          495478
Germany                   9495
France                    8558
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

In [17]:
#Hangi ülke ne kadar kazandırdı?
df.groupby("Country").agg({"TotalPrice":"sum"}).sort_values("TotalPrice", ascending = False).head()

                TotalPrice
Country
United Kingdom     8187806
Netherlands         284662
EIRE                263277
Germany             221698
France              197422

In [18]:
#En çok iade alan ürün hangisidir? 
#Invoice değişkeninde başında "C" ifadesi yer alan ürünler iptal edilmiştir. Veri setinde şu anda boş yani değerler bulunmaktadır.
#Bu yüzden str.contains komutu içinde na değerlerini False olarak tanımlayıp görmezden geliyoruz. 
#Adet işlemi için de "Quantity" değişkenini azalan şekilde sıralayarak en çoktan en aza doğru iadeleri sıralayabiliriz.
return_ = df[df["Invoice"].str.contains("C", na=False)]
return_.sort_values("Quantity", ascending = True).head(3)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2,16446,United Kingdom,-168470
61624,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1,12346,United Kingdom,-77184
4268,C536757,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,-9360,2010-12-02 14:23:00,0,15838,United Kingdom,-281

In [19]:
#veri ön işleme
df.shape

(541910, 9)

In [20]:
#Eksik değerleri veri setinden çıkarıyoruz.
df.dropna(inplace = True)
df.shape

(406830, 9)

In [21]:
#İstatistiksel değerleri, kartilleri inceleyerek veri seti hakkında bilgi ediniyoruz.
df.describe([0.01,0.05,0.10,0.25,0.50,0.75,0.90,0.95, 0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
Quantity,406830,12,249,-80995,-2,1,1,2,5,12,24,36,120,80995
Price,406830,3,69,0,0,0,1,1,2,4,7,8,15,38970
Customer ID,406830,15288,1714,12346,12415,12626,12876,13953,15152,16791,17719,17905,18212,18287
TotalPrice,406830,20,428,-168470,-10,1,2,4,11,20,35,67,200,168470

In [77]:
"""RFM Skorları
RFM ifadesi Recency, Frequency, Monetary ifadelerinin baş harflerinden oluşur. Müşterilerin satın alma alışkanlıkları üzerinden pazarlama ve satış stratejileri belirlemeye yardımcı olan bir tekniktir.

Recency (Yenilik): Müşterinin son satın almasından bugüne kadar geçen süre
Diğer bir ifadesiyle “Müşterinin son temasından bugüne kadar geçen süre” dir. (Bugünün tarihi - Son satın alma) şeklinde bulunur. Bugünün tarihi - son ürün satın alma tarihi. Çıkan değeri küçük olması istenir.

Frequency (Sıklık): Toplam satın alma sayısı.

Monetary (Parasal Değer): Müşterinin yaptığı toplam harcama."""

'RFM Skorları\nRFM ifadesi Recency, Frequency, Monetary ifadelerinin baş harflerinden oluşur. Müşterilerin satın alma alışkanlıkları üzerinden pazarlama ve satış stratejileri belirlemeye yardımcı olan bir tekniktir.\n\nRecency (Yenilik): Müşterinin son satın almasından bugüne kadar geçen süre\nDiğer bir ifadesiyle “Müşterinin son temasından bugüne kadar geçen süre” dir. (Bugünün tarihi - Son satın alma) şeklinde bulunur. Bugünün tarihi - son ürün satın alma tarihi. Çıkan değeri küçük olması istenir.\n\nFrequency (Sıklık): Toplam satın alma sayısı.\n\nMonetary (Parasal Değer): Müşterinin yaptığı toplam harcama.'

In [78]:
#RECENCY
#Alışveriş yapılan ilk günü buluyoruz.
df["InvoiceDate"].min()

Timestamp('2010-12-01 08:26:00')

In [79]:
#İnceleyeceğimiz veriler 2010-2011 yılları arasında olduğu için bugünün tarihini kendimiz belirliyoruz.
#yyyy.aa.gg
import datetime as dt
today_date = dt.datetime(2011,12,9)
today_date

datetime.datetime(2011, 12, 9, 0, 0)

In [80]:
#Müşteri ID'sine göre son yapılan alışveriş tarihlerine ulaşıyoruz.
df.groupby("Customer ID").agg({"InvoiceDate":"max"}).head()

                    InvoiceDate
Customer ID
12346       2011-01-18 10:17:00
12347       2011-12-07 15:52:00
12348       2011-09-25 13:13:00
12349       2011-11-21 09:51:00
12350       2011-02-02 16:01:00

In [103]:
#Bizim belirlediğimiz bugünün tarihi - alışveriş yapılan son tarih) işlemi yapıldığında recency değerini buluyoruz.
temp_df = (today_date - df.groupby("Customer ID").agg({"InvoiceDate":"max"}))
temp_df.rename(columns={"InvoiceDate": "Recency"}, inplace = True)
temp_df.head()

                      Recency
Customer ID
12346       324 days 13:43:00
12347         1 days 08:08:00
12348        74 days 10:47:00
12349        17 days 14:09:00
12350       309 days 07:59:00

In [104]:
#Saat değerlerini silmek için, daha önce burası Invoice Date değişkeni ve veri tipi datetime olduğu için days'leri seçip saatleri siliyoruz.
recency_df = temp_df["Recency"].apply(lambda x: x.days)
recency_df.head()

Customer ID
12346    324
12347      1
12348     74
12349     17
12350    309
Name: Recency, dtype: int64

In [105]:
#FREQUENCY
temp_df = df.groupby(["Customer ID","Invoice"]).agg({"Invoice":"count"})
temp_df.head()

                     Invoice
Customer ID Invoice
12346       541431         1
            C541433        1
12347       537626        31
            542237        29
            549222        24

In [106]:
#Her müşteri kaç alışveriş yapmış toplamda bunu buluyoruz.
temp_df.groupby("Customer ID").agg({"Invoice":"count"}).head()

             Invoice
Customer ID
12346              2
12347              7
12348              4
12349              1
12350              1

In [107]:
#Yukarıda yapmış olduğumuz işlemi bir değişkene atayıp "Invoice" yazan değişkeni de "Frequency" olarak değiştirip gözlemliyoruz.
freq_df = temp_df.groupby("Customer ID").agg({"Invoice":"count"})
freq_df.rename(columns={"Invoice": "Frequency"}, inplace = True)
freq_df.head()

             Frequency
Customer ID
12346                2
12347                7
12348                4
12349                1
12350                1

In [108]:
#MONETARY
monetary_df = df.groupby("Customer ID").agg({"TotalPrice":"sum"})
monetary_df.head()

             TotalPrice
Customer ID
12346                 0
12347              4310
12348              1797
12349              1758
12350               334

In [109]:
#Sutün adlandırmasını değiştiriyoruz.
monetary_df.rename(columns={"TotalPrice": "Monetary"}, inplace = True)
monetary_df.head()

             Monetary
Customer ID
12346               0
12347            4310
12348            1797
12349            1758
12350             334

In [110]:
print(recency_df.shape,freq_df.shape,monetary_df.shape)

(4372,) (4372, 1) (4372, 1)

In [111]:
#RFM
#Parametreleri bir dataframe olarak concat fonksiyonu yardımı ile birleştiriyoruz.
rfm = pd.concat([recency_df, freq_df, monetary_df],  axis=1)
rfm.head()

             Recency  Frequency  Monetary
Customer ID
12346            324          2         0
12347              1          7      4310
12348             74          4      1797
12349             17          1      1758
12350            309          1       334

In [112]:
#Değerler görüldüğü üzere 1 ile 5 arasında olan değerlerdir. 5 çok iyi, 1 ise çok kötü anlamına gelmektedir.
#pd.qcut(1d array or series, number of quantiles, labels = labesl)
#Ve yeni skorlarını da eklemiş olduk
rfm["RecencyScore"] = pd.qcut(rfm['Recency'], 5, labels = [5, 4, 3, 2, 1])
rfm["FrequencyScore"] = pd.qcut(rfm['Frequency'].rank(method = "first"), 5, labels = [1,2,3,4,5]) #arraydeki görülmelerine göre sıralanıyorlar
rfm["MonetaryScore"] = pd.qcut(rfm['Monetary'], 5, labels = [1, 2, 3, 4, 5])
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore
Customer ID,,,,,,
12346,324,2,0,1,2,1
12347,1,7,4310,5,4,5
12348,74,4,1797,2,3,4
12349,17,1,1758,4,1,4
12350,309,1,334,1,1,2

In [113]:
#Skorları yanyana yazdırıyoruz.
(rfm['RecencyScore'].astype(str) + 
 rfm['FrequencyScore'].astype(str) + 
 rfm['MonetaryScore'].astype(str)).head()

Customer ID
12346    121
12347    545
12348    234
12349    414
12350    112
dtype: object

In [114]:
#RFM_SCORE sütununu Dataframe tablosuna ekliyoruz.
rfm["RFM_SCORE"] = rfm['RecencyScore'].astype(str) + rfm['FrequencyScore'].astype(str) + rfm['MonetaryScore'].astype(str)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12346,324,2,0,1,2,1,121
12347,1,7,4310,5,4,5,545
12348,74,4,1797,2,3,4,234
12349,17,1,1758,4,1,4,414
12350,309,1,334,1,1,2,112

In [115]:
#Betimsel istatistikleri inceliyoruz.
rfm.describe().T

           count  mean  std   min  25%  50%  75%    max
Recency     4372    91  101    -1   15   49  142    372
Frequency   4372     5    9     1    1    3    5    248
Monetary    4372  1898 8219 -4288  293  648 1612 279489

In [116]:
#En iyi müşteriler gösterilmektedir.
rfm[rfm["RFM_SCORE"] == "555"].head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12362,2,13,5155,5,5,5,555
12417,2,12,3579,5,5,5,555
12437,0,19,4897,5,5,5,555
12471,1,49,18741,5,5,5,555
12476,0,20,6547,5,5,5,555

In [117]:
#En kötü müşteriler gösterilmektedir.
rfm[rfm["RFM_SCORE"] == "111"].head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE
Customer ID,,,,,,,
12353,203,1,89,1,1,1,111
12361,286,1,190,1,1,1,111
12401,302,1,84,1,1,1,111
12402,322,1,226,1,1,1,111
12441,365,1,174,1,1,1,111

In [118]:
#RFM skorlarına göre müşterileri sınıflara atıyoruz. Bu sınıfların hangi skor aralığında olacağı aşağıda belirtilmiştir. 
#Örnek olarak Hibernating sınıfı şu skor değerlerine sahiptir. 
#Recency değeri 1-2, Frequency değeri 1-2 olanlardır diğer sınıflarda bu şekilde okunmaktadır.
#Buraya sadece Recency ve Frequency eklenmesinin sebebi tabloda sadece bu iki parametre yer almaktadır.
#Ancak Monetary de eklenebilir.
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At Risk',
    r'[1-2]5': 'Can\'t Loose',
    r'3[1-2]': 'About to Sleep',
    r'33': 'Need Attention',
    r'[3-4][4-5]': 'Loyal Customers',
    r'41': 'Promising',
    r'51': 'New Customers',
    r'[4-5][2-3]': 'Potential Loyalists',
    r'5[4-5]': 'Champions'
}

In [119]:
#Yukarıda tanımlanan seg_map'i dataframe tablosuna dahil ediyoruz.
rfm['Segment'] = rfm['RecencyScore'].astype(str) + rfm['FrequencyScore'].astype(str)
rfm['Segment'] = rfm['Segment'].replace(seg_map, regex=True)
rfm.head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12346,324,2,0,1,2,1,121,Hibernating
12347,1,7,4310,5,4,5,545,Champions
12348,74,4,1797,2,3,4,234,At Risk
12349,17,1,1758,4,1,4,414,Promising
12350,309,1,334,1,1,2,112,Hibernating

In [120]:
#Segmentlere göre groupby yaparak elde edilen 3 parametrenin ortalama ve kaç adet olduğunu buluyoruz.
rfm[["Segment", "Recency","Frequency","Monetary"]].groupby("Segment").agg(["mean","count"])

                    Recency       Frequency       Monetary
                       mean count      mean count     mean count
Segment
About to Sleep           51   369         1   369      435   369
At Risk                 157   603         3   603      951   603
Can't Loose             132    68        10    68     2381    68
Champions                 4   665        15   665     6510   665
Hibernating             216  1053         1  1053      376  1053
Loyal Customers          31   795         8   795     2703   795
Need Attention           48   190         3   190      790   190
New Customers             5    42         1    42      377    42
Potential Loyalists      15   490         2   490      684   490
Promising                21    97         1    97      303    97

In [121]:
#"Need Attention" grubunu yakalıyoruz.
rfm[rfm["Segment"] == "Need Attention"].head()

,Recency,Frequency,Monetary,RecencyScore,FrequencyScore,MonetaryScore,RFM_SCORE,Segment
Customer ID,,,,,,,,
12360,51,3,2662,3,3,5,335,Need Attention
12370,50,4,3546,3,3,5,335,Need Attention
12372,70,3,1298,3,3,4,334,Need Attention
12546,45,3,1142,3,3,4,334,Need Attention
12759,51,3,1531,3,3,4,334,Need Attention

In [122]:
#Dikkat gerektiren müşterilerin Customer ID (indeks) değerlerine erişilmiştir.
#Yeni müşterilere özel promosyonlar ve mailler bu ID'ler sayesinde atılabilir.
rfm[rfm["Segment"] == "Need Attention"].index

Float64Index([12360.0, 12370.0, 12372.0, 12546.0, 12759.0, 12808.0, 12822.0,
              12886.0, 12895.0, 13032.0,
              ...
              18170.0, 18194.0, 18205.0, 18228.0, 18235.0, 18252.0, 18261.0,
              18270.0, 18277.0, 18287.0],
             dtype='float64', name='Customer ID', length=190)

In [123]:
#Yeni bir dataframe oluşturularak içerisine Need Attention grubuna ait müşterilerin ID bilgileri atıyoruz.
#Atanan bu ID'ler csv çıktısı alınarak kullanıma hazır hale getirilmiştir.
new_df = pd.DataFrame()
new_df["NewCustomerID"] = rfm[rfm["Segment"] == "Need Attention"].index
new_df.head()

   NewCustomerID
0          12360
1          12370
2          12372
3          12546
4          12759