In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('./507358_937613_bundle_archive/data.csv')

In [4]:
data.shape

(64000, 9)

In [5]:
data.describe()

,recency,history,used_discount,used_bogo,is_referral,conversion
count,64000.000000,64000.000000,64000.000000,64000.000000,64000.000000,64000.000000
mean,5.763734,242.085656,0.551031,0.549719,0.502250,0.146781
std,3.507592,256.158608,0.497393,0.497526,0.499999,0.353890
min,1.000000,29.990000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,64.660000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,158.110000,1.000000,1.000000,1.000000,0.000000
75%,9.000000,325.657500,1.000000,1.000000,1.000000,0.000000
max,12.000000,3345.930000,1.000000,1.000000,1.000000,1.000000

In [6]:
data.head()
# zip_code kaldırılıp onun yerine türüne göre campaign_id konulup bunlar incelenebilir
# zaten burada used_discount ve used bogo var

,recency,history,used_discount,used_bogo,zip_code,is_referral,channel,offer,conversion
0,10,142.44,1,0,Surburban,0,Phone,Buy One Get One,0
1,6,329.08,1,1,Rural,1,Web,No Offer,0
2,7,180.65,0,1,Surburban,1,Web,Buy One Get One,0
3,9,675.83,1,0,Rural,1,Web,Discount,0
4,2,45.34,1,0,Urban,0,Web,Buy One Get One,0

In [7]:
offers=data['offer'].unique()

In [8]:
print(offers)

['Buy One Get One' 'No Offer' 'Discount']

In [9]:
data[data.recency>=12][['recency','history','zip_code']]
#Bu da demek oluyor ki 12 aydan daha fazla pasif(giriş yapmamış) kalan kullanıcı yok, belkide aktiflikten dolayı hesapları dondurulmuş olabilir
#data[(data.recency<12) & (data.recency>=7)][['recency','history','zip_code']]

       recency  history   zip_code
26          12   115.39  Surburban
54          12   150.06  Surburban
56          12    69.08      Rural
107         12    29.99      Urban
109         12   129.73  Surburban
...        ...      ...        ...
63796       12    76.58  Surburban
63834       12   102.70      Urban
63843       12   194.40  Surburban
63864       12   270.02  Surburban
63933       12    37.94      Urban

[2332 rows x 3 columns]

In [22]:
data[data.conversion > 0]

,recency,history,used_discount,used_bogo,zip_code,is_referral,channel,offer,conversion
5,6,134.83,0,1,Surburban,0,Phone,Buy One Get One,1
10,7,548.91,0,1,Urban,1,Phone,Buy One Get One,1
13,2,101.64,0,1,Urban,0,Web,Discount,1
15,3,58.13,1,0,Urban,1,Web,No Offer,1
22,2,118.40,1,0,Surburban,0,Web,Discount,1
...,...,...,...,...,...,...,...,...,...
63954,2,93.97,1,0,Urban,0,Web,No Offer,1
63961,4,337.36,1,0,Urban,0,Web,Discount,1
63977,8,29.99,0,1,Surburban,0,Web,No Offer,1
63985,9,29.99,1,0,Urban,0,Phone,Discount,1
63989,10,304.30,1,1,Surburban,0,Web,Buy One Get One,1

In [38]:
data[(data['history']>150) & (data['recency'] < 3) & (data['channel'] == 'Web') & (data['offer'] !='No Offer')].shape

(2597, 9)

In [45]:
data[(data['history']>150) & (data['recency'] < 3) & (data['channel'] == 'Web') & (data['offer'] =='No Offer')].shape

(1253, 9)

In [40]:
data[(data['history']>150) & (data['recency'] < 3) & (data['channel'] == 'Web')].shape

(3850, 9)

3850