In [1]:
import numpy as np
import pandas as pd

In [2]:
traindf = pd.read_csv('./362595_708617_bundle_archive/train.csv')

In [16]:
traindf.shape

(78369, 5)

In [21]:
testdf = pd.read_csv('./362595_708617_bundle_archive/test_QyjYwdj.csv')
testdf.shape

(50226, 4)

In [3]:
traindf.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [10]:
traindf.campaign_id.unique()
# 18 adet kampanya

array([13,  9,  8, 11, 29, 30,  2,  5, 12, 26,  3,  4, 10,  7, 28, 27,  6,
        1], dtype=int64)

In [5]:
campaigndf = pd.read_csv('./362595_708617_bundle_archive/campaign_data.csv')

In [6]:
campaigndf.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [7]:
campaigndf.campaign_type.unique()

array(['Y', 'X'], dtype=object)

In [15]:
campaigndf.shape

(28, 4)

In [11]:
campaigndf.campaign_id.unique()
# 28 adet kampanya

array([24, 25, 20, 23, 21, 22, 18, 19, 17, 16, 13, 11, 12, 10,  9,  8,  7,
        6,  3,  5,  4,  1,  2, 30, 29, 28, 27, 26], dtype=int64)

In [17]:
customerdf = pd.read_csv('./362595_708617_bundle_archive/customer_demographics.csv')

In [18]:
customerdf.shape

(760, 7)

In [19]:
customerdf.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5